{
  "env": {
    "browser": false
  },
  "extends": [
    "airbnb-base",
    "eslint:recommended"
  ],
  "rules": {
    "linebreak-style": [
      "error",
      "windows"
    ],
    "no-console": "off"
  }
}